<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <link rel="stylesheet" href="styles.css">
    <title>ASCII Art</title>
</head>

<body>
    <div class="main">

        <h1>ASCII Art Web</h1>
        <form action="/ascii-art" method="POST">
            <label class="test-bar" for="text">Enter Text:</label><br>
            <textarea id="message" name="message" rows="5" cols="30" required></textarea>
            <div class="banner-files">
                <label>Choose Banner:</label><br>
                <input type="radio" id="banner-shadow" name="banner" value="shadow">
                <label for="banner-shadow">Shadow</label>
                <input type="radio" id="banner-standard" name="banner" value="standard" checked>
                <label for="banner-standard">Standard</label>
                <input type="radio" id="banner-thinkertoy" name="banner" value="thinkertoy">
                <label for="banner-thinkertoy">Thinkertoy</label><br><br>
            </div>
            <button type="submit">Generate ASCII Art</button>
        </form>
    </div>

    <div>
        {{ if .Result }}
        <h2>ASCII Art Result:</h2>
        <div id="result">
            <pre>{{ .Result }}</pre>
            {{ end }}

            {{ if .Error }}
            <h3>Error:</h3>
            <p>{{ .Error }}</p>
            {{ end }}
        </div>
</body>

</html>